<app-header></app-header>
<div class="container">
  <div class="panel panel-default" style="width: 100%;">
    <div class="panel-heading">
      Menu for today
    </div>
    <div class="panel-body">
      <div class="card">
        <ul class="list-group list-group-flush" *ngFor="let menuItem of Menu; let i = index;">
          <li class="list-group-item" style="margin-right: 30px;">
            {{menuItem.Meal.description}} &nbsp;
            <button type="button" class="btn btn-default" (click)="decrementCount(menuItem)">-</button>
            <input type="text" class="form-control" value={{menuItem.count}} style="width: 5%; display: inline-block; text-align: center;"
            />
            <button type="button" class="btn btn-default" (click)="incrementCount(menuItem)">+</button>
          </li>
        </ul>
      </div>

    </div>
    <button class="btn btn-primary btn-lg btn-block" [disabled]="disableFinish()" (click)="finish()">Checkout</button>
  </div>
</div>