<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Employees
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <button type="button" class="btn btn-primary" (click)="addEmployee()">Add</button> &nbsp;
        <input type="number" class="form-control credit-button" placeholder="Enter Credits to load" [(ngModel)]="credits" /> &nbsp;
        <button type="button" class="btn btn-default" (click)="loadCreditsForAll()" [disabled]="!canLoadCredits()">Load Credits for all Employees</button>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Account Balance</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>


            <tr *ngFor="let employee of Employees; let i = index">
              <ng-template [ngTemplateOutlet]="loadTemplate(employee)" [ngTemplateOutletContext]="{ $implicit: employee, index: i }"></ng-template>

              <!--               
              <td><button type="button" class="btn btn-primary" (click)="loadCredits(employee.id)">Load Credits For {{employee.name}}</button></td>
              <td><input type="text" class="btn btn-default" placeholder="Enter Amount of Credits to load" [disabled]="disableInput(employee.id)"/> </td> -->
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #readOnlyTemplate let-employee>
  <td>{{employee.id}}</td>
  <td>{{employee.name}}</td>
  <td>{{employee.balance}}</td>
  <td>
    <button type="button" class="btn btn-default" (click)="editEmployee(employee)">Edit</button>
  </td>
  <td>
    <button type="button" (click)="deleteEmployee(employee)" class="btn btn-danger">Delete</button>
</ng-template>

<ng-template #editTemplate>
  <td>
    <input type="text" class="form-control" [(ngModel)]="selectedEmployee.id" readonly disabled />
  </td>
  <td>
    <input type="text" class="form-control" [(ngModel)]="selectedEmployee.name" />
  </td>
  <td>
    <input type="text" class="form-control" [(ngModel)]="selectedEmployee.balance" />
  </td>
  <td>
    <input type="button" value="Save" (click)="saveEmployee()" class="btn btn-success" />
  </td>
  <td>
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </td>

</ng-template>